.button {
	border-radius: .5rem;
	font-weight:700;
	color:$secondary-color;
	background-color:$primary-color;
	&:hover {
		color: $primary-color;
		background-color:$secondary-color;
	}
}

.button-alt {
	@extend .button;
	color:$primary-color;
	background-color:$secondary-color;
	&:hover {
		color: $secondary-color;
		background-color:$white;
	}
}

.long {
	min-width:10rem;
}