.events {
	background: $background;
	padding:2rem 0;
	.grid-container {
		.grid-x {
			.cell {
				h2 {
					font-size: 4rem;
					font-family:'Monoton',cursive;
					color:$secondary-color;
					font-weight: 700;
					line-height:1.4;

					@include breakpoint(large)
					{
						font-size:5rem;
					}
				}
			}
		}
	}
}

.events-list {
	.grid-container {
		max-width:none;
		padding:0;

		.group-background {
			background: url(../img/backgrounds/ggj-team.jpg);
			background-size:cover;
			background-position:center;
		}
	}
}