<div class="grid-container">
	<header class="grid-x align-center">
		<div class="cell small-12 text-center">
			<h1>{{title}}
				<br>
				<span>{{location}}</span>
			</h1>
			<h2>{{date}}</h2>
		</div>
	</header>
	<div class="grid-x grid-padding-x align-middle align-center">
		<div  class="small-12 medium-4 cell text-center">
			<a href="#register"><h4><i class="far fa-file-alt"></i></h4></a>
			<div><a class="button" href="#register">Register</i></a></div>
		</div>
		<div class="small-12 medium-4 cell text-center">
			<a href="#faq"><h4><i class="far fa-question-circle"></i></h4></a>
			<a class="button" href="#faq">FAQ</a>
		</div>
		<div class="small-12 medium-4 cell text-center">
			<a href="https://discord.gg/uGUEVrk" target="_blank"><h4><i class="fab fa-discord"></i></h4></a>
			<a class="button" href="https://discord.gg/uGUEVrk" target="_blank">Community</a>
		</div>
	</div>
</div>